---
import { type CollectionEntry, getCollection } from "astro:content";
import Base from "../../../layouts/Base.astro";
import BlogSideBar from "../../../components/BlogSideBar.astro";
import CommentSection from "../../../components/CommentSection.astro";
import FormattedDate from "../../../components/FormattedDate.astro";
import AuthorInfo from "../../../components/AuthorInfo.astro";
// import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return [
    { params: { category: "general" }, props: { posts: posts } },
    { params: { category: "business" }, props: { posts: posts } },
    { params: { category: "software-developement" }, props: { posts: posts } },
    { params: { category: "technology" }, props: { posts: posts } },
  ];
}

type Props = CollectionEntry<"blog">;

const { category } = Astro.params;
const { posts }: Props[] = Astro.props;

const allCategoryPosts: Props[] = posts.filter((post) => {
  return String(post.data.category).toLowerCase() === category;
});
---

<Base>
  <!-- Blog Section - Blog Page -->
  <section id='blog' class='blog'>
    <div class='title'>
      <h1>Category: {category}</h1>
      <p>
        Found {allCategoryPosts.length === 0 ? "no" : allCategoryPosts.length} blog
        on {category} category.
      </p>
    </div>

    <div class='container' data-aos='fade-up' data-aos-delay='100'>
      <div class='row gy-4 posts-list'>
        {
          allCategoryPosts.map((post) => (
            <div class='col-xl-4 col-lg-6 m-2'>
              <article>
                <div class='post-img'>
                  <img
                    src={post.data.heroImage}
                    alt={post.data.title}
                    class='img-fluid'
                  />
                </div>

                <p class='post-category'>{post.data.category}</p>

                <h2 class='title'>
                  <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                </h2>

                <div class='d-flex align-items-center'>
                  <div class='post-meta'>
                    <p class='post-date'>
                      <FormattedDate date={post.data.pubDate} />
                    </p>
                  </div>
                </div>
              </article>
            </div>
          ))
        }
      </div>
      <!-- End blog posts list -->

      <!-- <div class='pagination d-flex justify-content-center'>
        <ul>
          <li><a href='#'>1</a></li>
          <li class='active'><a href='#'>2</a></li>
          <li><a href='#'>3</a></li>
        </ul>
      </div> -->
      <!-- End pagination -->
    </div>
  </section><!-- End Blog Section -->

  <div class='loading'>
    <div class='ball'></div>
    <div class='ball'></div>
    <div class='ball'></div>
  </div>
</Base>
